.header-v1 .topbar-v1 {
    background: #c7a68f; /* Updated background color */
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
}

/*Top Contacts*/
.header-v1 .topbar-v1 ul {
    margin: 0;
}

.header-v1 .topbar-v1 .top-v1-contacts li {
    color: #666;
    padding: 5px 0;
    font-size: 12px;
    margin-right: 15px;
    display: inline-block;
}

.header-v1 .topbar-v1 .top-v1-contacts i {
    color: #999;
    font-size: 13px;
    margin-right: 3px;
}

/*Top Data*/
.header-v1 .topbar-v1 .top-v1-data {
    text-align: right;
}

.header-v1 .topbar-v1 .top-v1-data li {
    padding: 5px 11px;
    margin-left: -4px;
    display: inline-block;    
    border-right: solid 1px #eee;
}

.header-v1 .topbar-v1 .top-v1-data li:first-child {
    margin-left: 0;
    border-left: solid 1px #eee;
}

.header-v1 .topbar-v1 .top-v1-data li a {
    font-size: 12px; 
}

.header-v1 .topbar-v1 .top-v1-data li a:hover {
    text-decoration: none;
}

.header-v1 .topbar-v1 .top-v1-data li i {
    color: #777;
    font-size: 13px;
}

.header-v1 .topbar-v1 .top-v1-data li a:hover i {
    color: #72c02c;
}

/*Responsive Topbar v1*/
@media (max-width: 991px) {
    .header-v1 .topbar-v1 ul {
        text-align: center !important;
    }

    .header-v1 .topbar-v1 .top-v1-contacts {
        margin: 10px 0;
    }

    .header-v1 .topbar-v1 .top-v1-data li {
        top: 1px;
        padding: 6px 16px;
        margin-left: -5px;
        position: relative;
        border: solid 1px #eee;
    }        
}


/*--------------------------------------------------
    [2. Header - Navbar]
----------------------------------------------------*/

/*Navbar*/
.header-v1 {
    z-index: 99;
    position: relative;
}

.header-v1 .navbar {
    margin: 0;
}

.header-v1 .navbar-default {
    border: none;
    background: none;
}

/*Navbar Header*/
.header-v1 .navbar-header {
    margin: 10px 0;
}

/*Navbar Brand*/
.header-v1 .navbar-brand { 
    z-index: 1;
    position: relative;
}

@media (max-width: 768px) {
    .header-v1 .navbar-brand {
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .header-v1 .navbar-brand {
        margin-top: -10px;
    }
}

@media (min-width: 992px) {
    .header-v1 .navbar-brand {
        margin-top: -4px;
    }
}

/*Navbar Toggle*/
.header-v1 .navbar-default .navbar-toggle {
    border-color: #5fb611;
}

@media (max-width: 768px) {
    .header-v1 .navbar-default .navbar-toggle {
        margin-right: 0;
    }
}

.header-v1 .navbar-default .navbar-toggle .fa {
    color: #fff;
    font-size: 19px;
}

.header-v1 .navbar-toggle,
.header-v1 .navbar-default .navbar-toggle:hover, 
.header-v1 .navbar-default .navbar-toggle:focus {
    background: #72c02c;
    padding: 6px 10px 2px;
}

.header-v1 .navbar-toggle:hover {
    background: #5fb611 !important;
}

/*Navbar Collapse*/
.header-v1 .navbar-collapse {
    position: relative;
}

/*Navbar Menu*/
@media (min-width: 992px) {
    .header-v1 .navbar-default .navbar-nav {
        margin-top: -6px;
    }
}

.header-v1 .navbar-default .navbar-nav > li > a {
    color: #687074;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .header-v1 .navbar-nav {
        float: right;
    }    
}


/*--------------------------------------------------
    [3. Header - Responsive Navbar Style]
----------------------------------------------------*/

/*Responsive Navbar*/
@media (max-width: 991px) {
    /*Responsive code for max-width: 991px*/
    .header-v1 .navbar-header {
        float: none;
    }
    
    .header-v1 .navbar-toggle {
        display: block;
    }
    
    .header-v1 .navbar-collapse.collapse {
        display: none !important;
    }
    
    .header-v1 .navbar-collapse.collapse.in {
        display: block !important;
        overflow-y: auto !important;
    }
    
    .header-v1 .navbar-nav {
        margin: 0 0 5px;
        float: none !important;
    }

    .header-v1 .navbar-nav > li {
        float: none;
    }
    
    .header-v1 .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    /*Header*/
    .header-v1 {
        border-bottom: solid 1px #eee;
    }

    /*Pull Right*/
    .header-v1 .dropdown-menu.pull-right {
        float: none !important;
    }

    /*Dropdown Menu Slide Down Effect*/
    .header-v1 .navbar-nav .open .dropdown-menu {
        border: 0;
        float: none;
        width: auto;
        margin-top: 0;
        position: static;
        box-shadow: none;
        background-color: transparent;
    }

    .header-v1 .navbar-nav .open .dropdown-menu > li > a,
    .header-v1 .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    
    .header-v1 .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    
    .header-v1 .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-v1 .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }

    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    
    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    
    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .header-v1 .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }    

    .header-v1 .navbar-default .dropdown-menu.no-bottom-space {
        padding-bottom: 0;
    }

    /*Design for max-width: 991px*/
    .header-v1 .navbar-collapse,
    .header-v1 .navbar-collapse .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .header-v1 .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 9px 10px;
    }

    .header-v1 .navbar-default .navbar-nav > li a {
        border-bottom: solid 1px #eee;
    }    

    .header-v1 .navbar-default .navbar-nav > li > a:focus {
        background: none;
    }

    .header-v1 .navbar-default .navbar-nav > li > a:hover {
        color: #72c02c;
    }

    .header-v1 .navbar-default .navbar-nav > .active > a,
    .header-v1 .navbar-default .navbar-nav > .active > a:hover,
    .header-v1 .navbar-default .navbar-nav > .active > a:focus {
        background: #72c02c;
        color: #fff !important;    
    }

    .header-v1 .dropdown .dropdown-sub
